# ========================
# Django Environment File
# ========================

# Django secret key (replace with your own)
SECRET_KEY=your-secret-key-here


# Database settings
POSTGRES_DB=your_database_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
