{% extends "base.html" %} {% block title %} Warehouse {% endblock %}
<br />
{% block content %}
<div class="row mb-3">
  <div class="col-lg-12">
    <div class="stat-card">
      <!-- Header Section -->
      <div class="row mb-4">
        <div class="col-12">
          <div class="card shadow-sm border-0">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <h1 class="h3 mb-1 fw-bold text-dark">
                    <i class="bi bi-building text-primary me-2"></i>
                    Warehouse Management
                  </h1>
                  <p class="text-muted mb-0">
                    Manage your warehouses, add new warehouses and Edit
                    warehouses.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Form Section -->
      <form method="post" class="row g-3" novalidate>
        {% csrf_token %} {% for field in form %}
        <div class="col-md-6 mb-3">
          <label class="form-label fw-semibold">{{ field.label }}</label>
          {{ field }} {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %} {% if field.errors %}
          <div class="text-danger small mt-1">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}
        <!-- Submit Button -->
        <div class="card-body text-end">
          {% if is_edit %}
          <button type="submit" class="btn btn-success btn-sm me-3">
            <i class="bi bi-check-circle me-2"></i>
            Update
          </button>
          <a
            href="{% url 'warehouse_list' %}"
            class="btn btn-secondary btn-sm me-3"
          >
            <i class="bi bi-arrow-counterclockwise me-2"></i>
            Back
          </a>
          {% else %}
          <button type="submit" class="btn btn-success btn-sm me-3">
            <i class="bi bi-check-circle me-2"></i>
            Create
          </button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
